@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;

  background: rgb(56, 209, 255);
  background: linear-gradient(
    225deg,
    rgba(67, 239, 195, 1) 0%,
    rgba(56, 209, 255, 1) 50%,
    rgba(56, 209, 255, 1) 100%
  );
}
